{% extends "base.html" %} {% block content %}



<!--====== PORTFOLIO PART START ======-->

<div class="row">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="section_title text-center pb-60">
                <h2 class="display-3 my-3">Diane Corriette</h2>
                <h3 class="display-5 mb-4">Digital Commerce Developer</h3>
                <p class="lead fw-normal">I support the dreams of anyone looking to build an eCommerce site, eLearning platform, website or membership site. I
                build using modern technology. If you haven't heard of Django, Flask or WordPress don't worry. Just know that from
                beginner to something more complex I love to build and watch projects come to life.</p>
                <p class="lead fw-normal">Contact me to find out how I can help and checkout some of my work.</p>
            
            </div> <!-- section title -->
<div class="container">
    <div class="header">
    <img src="https://res-console.cloudinary.com/dka7n7ady/thumbnails/v1/image/upload/v1700213265/bWVkaWEvYWNjb3VudC9zdWVzX2N3YnZ5aA==/grid_landscape" style = "width: 100%; height: 100%;">
        </div>
        <div class="header">
            <img src="https://res-console.cloudinary.com/dka7n7ady/thumbnails/v1/image/upload/v1700213265/bWVkaWEvYWNjb3VudC9zdWVzX2N3YnZ5aA==/grid_landscape" style = "width: 100%; height: 100%;">
            </div>


        <div class="content">
            <img src="https://res-console.cloudinary.com/dka7n7ady/thumbnails/v1/image/upload/v1700213265/bWVkaWEvYWNjb3VudC9zdWVzX2N3YnZ5aA==/grid_landscape" style = "width: 100%; height: 100%;">
            
        </div>    

        <div class="section">
            <img src="https://res-console.cloudinary.com/dka7n7ady/thumbnails/v1/image/upload/v1700214156/bWVkaWEvYWNjb3VudC9tb2xseXdlYXJfc2hkZ2h3/grid_landscape" style = "width: 100%; height: 100%;">

        </div>
        
    
</div>


<!--====== PORTFOLIO PART START ======-->

<section id="portfolio" class="portfolio_area pt-120">
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section_title text-center pb-60">
                    <h2 class="display-3 my-3">Diane Corriette</h2>
                    <h3 class="display-5 mb-4">Digital Commerce Developer</h3>
                    <p class="lead fw-normal">I support the dreams of anyone looking to build an eCommerce site, eLearning platform, website or membership site. I
                    build using modern technology. If you haven't heard of Django, Flask or WordPress don't worry. Just know that from
                    beginner to something more complex I love to build and watch projects come to life.</p>
                    <p class="lead fw-normal">Contact me to find out how I can help and checkout some of my work.</p>
                
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="portfolio_wrapper d-flex flex-wrap">
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img src="https://images.pexels.com/photos/2771423/pexels-photo-2771423.jpeg" alt="sologamy">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://github.com/todiane/sologamyp1" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">Project 1 - Sologamy - HTML/CSS</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <img src="https://images.pexels.com/photos/5490706/pexels-photo-5490706.jpeg" alt="cycle">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://github.com/todiane/cycle-of-life-p2" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">Project 2 - Cycle Of Life - JavaScript</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <img src="https://images.pexels.com/photos/8821015/pexels-photo-8821015.jpeg" alt="corri construction">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://github.com/todiane/corri-construction-p3" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">Project 3 - Corri Construction - Python</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
            <img src="https://images.pexels.com/photos/19144674/pexels-photo-19144674/free-photo-of-woman-standing-in-a-park-and-touching-a-tree-branch.jpeg" alt="Our Spot">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://github.com/todiane/our-spot" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">Project 4 - Our Spot - Django</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img src="https://images.pexels.com/photos/4482903/pexels-photo-4482903.jpeg" alt="project 5">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="#0" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">Project 5 - To Be Confirmed</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <img src="https://images.pexels.com/photos/16450745/pexels-photo-16450745/free-photo-of-linkedin-page-on-cellphone-screen.jpeg" alt="LinkedIn">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://www.linkedin.com/in/todianedev/" target="_blank"><i class="bi bi-box-arrow-up-right"></i></i></a></li>
                </ul>
                <h5 class="portfolio_title">LinkedIn Profile</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <img src="https://images.pexels.com/photos/1181312/pexels-photo-1181312.jpeg" alt="github">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://github.com/todiane" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">GitHub Profile</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
        <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
            <img src="https://images.pexels.com/photos/3653849/pexels-photo-3653849.jpeg" alt="my blog">
            <div class="portfolio_content">
                <ul class="meta">
                    <li><a href="https://dianecorriette.com" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></li>
                </ul>
                <h5 class="portfolio_title">My Blog</h5>
            </div> <!-- Single portfolio -->
        </div> <!-- portfolio wrapper -->
    </div> <!-- row -->
</section>

<!--====== PORTFOLIO PART ENDS ======-->
{%endblock%}