<!--====== 3 OPTION BOXES START ======-->
<div class="container-lg py-4">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    </div>
    </div>
    <div class="row text-center">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 mb-5 bg-body rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-calendar-days" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>First Option</h3>
        <p class='text-muted'>This is what I really want to say here. I do my best to remain flexible.</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 mb-5 bg-body rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-gears" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>Second Option</h3>
        <p class='text-muted'>I wonder if I should say a bit more here but really I want it the same.</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 mb-5 bg-body rounded rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-code" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>Bootstrap 5</h3> 
        <p class='text-muted'>It really is helpful knowing how to use Bootstrap and it saves time.</p>
        </div>
    </div>            
    </div>
</div>

<!--====== 3 OPTION BOXES END ======-->