<!--====== 3 OPTION BOXES START ======-->
<div class="container-lg py-4 mt-3">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    </div>
    </div>
    <div class="row text-center">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 bg-body rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-calendar-days" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>Back-End</h3>
        <p class='text-muted'>WordPress, Django, Flask, Shopify.</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 bg-body rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-gears" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>I build using</h3>
        <p class='text-muted'>Mainly Python. Also JavaScript and PHP.</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="shadow p-3 bg-body rounded rounded bg-white">
        <div class="icon my-3 text-info fs-2">
            <i class="fa-solid fa-code" style="color: #006400;"></i>
        </div>
        <h3 class='fs-5 py-2'>Front-End</h3> 
        <p class='text-muted'>HTML, CSS, JavaScript & Bootstrap</p>
        </div>
    </div>            
    </div>
</div>

<!--====== 3 OPTION BOXES END ======-->