{% load static %}
<!--====== PROJECT IMAGES WITH BUTTONS START ======-->

<div class="gallery-images">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup4" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/4.png' %}" class="img-fluid" alt="portfolio image our spot" />
                    <div class="overlay">
                       
                        <h3>Our Spot</h3>
                        <h3>Social Network using Django</h3><a class="btn btn-outline-black" href="http://ourspot-d2a3c52401dc.herokuapp.com/" target="_blank" >Visit Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup5" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/2.png' %}" class="img-fluid" alt="portfolio image bootstraping" />
                    <div class="overlay">
                        <h3>Bootstraping</h3>
                        <h3>Website using Flask</h3><a class="btn btn-outline-black" href="https://github.com/todiane/bootstraping" target="_blank">Visit Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup6" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/3.png' %}" class="img-fluid" alt="portfolio image poster palace" />
                    <div class="overlay">
                        <h3>Poster Palace</h3>
                        <h3>eCommerce Store using Django</h3><a class="btn btn-outline-black" href="http://posterpalace-a7414f135cf3.herokuapp.com/" target="_blank">Visit Here</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup modals -->
<div class="modal fade" id="popup4">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 1" src="{% static 'images/ourspot500.webp' %}" ></div>
    </div>
</div>
<div class="modal fade" id="popup5">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 2" src="{% static 'images/bootstraping500.webp' %}"></div>
    </div>
</div>
<div class="modal fade" id="popup6">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 3" src="{% static 'images/posterpalace500.webp' %}"></div>
    </div>
</div>
<!--====== IMAGES WITH BUTTONS ENDS ======-->
