
<!--====== PROJECT IMAGES WITH BUTTONS START ======-->
<div class="gallery-images">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup1" data-bs-toggle="modal">
                    <img alt="Image 1" src="static/images/bright500.webp" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                        <h3>Synced Video</h3>
                        <p>Syncing text and video</p><a class="btn btn-warning" href="https://github.com/todiane/sync-video" target="_blank">Watch It</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup2" data-bs-toggle="modal">
                    <img alt="Image 1" src="static/images/love500.webp" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                        <h3>Hackathon</h3>
                        <p>I took part in a Hackathon</p><a class="btn btn-secondary" href="https://github.com/Ant2210/aqua-la-vista" target="_blank" >Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup3" data-bs-toggle="modal">
                    <img alt="Image 1" src="static/images/purple500.webp" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                        <h3>My Blog</h3>
                        <p>Sometimes I write</p><a class="btn btn-warning" href="https://dianecorriette.com">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup modals -->
<div class="modal fade" id="popup1">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 1" src="static/images/bright500.webp" ></div>
    </div>
</div>
<div class="modal fade" id="popup2">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 2" src="static/images/love500.webp"></div>
    </div>
</div>
<div class="modal fade" id="popup3">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 3" src="static/images/purple500.webp"></div>
    </div>
</div>
<!--====== IMAGES WITH BUTTONS ENDS ======-->
