{% load static %}
<!--====== PROJECT IMAGES WITH BUTTONS START ======-->

<div class="gallery-images">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup1" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/6.png' %}" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                       
                        <h3>WordPress</h3>
                        <h3>GCSE English Tuition</h3><a class="btn btn-outline-black" href="https://streamenglish.co.uk" target="_blank" >Visit Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup2" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/5.png' %}" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                        <h3>Pen And I</h3>
                        <h3>Website & shop links</h3><a class="btn btn-outline-black" href="https://penandi-c4b324047655.herokuapp.com/" target="_blank">Visit Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-target="#popup3" data-bs-toggle="modal">
                    <img alt="Image 1" src="{% static 'images/1.png' %}" class="img-fluid" alt="portfolio image" />
                    <div class="overlay">
                        <h3>Decor&Daydreams</h3>
                        <h3>Shopify eCommerce</h3><a class="btn btn-outline-black" href="https://decordaydreams.co/" target="_blank">Visit Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup modals -->
<div class="modal fade" id="popup1">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 1" src="{% static 'images/senglish500.webp' %}" ></div>
    </div>
</div>
<div class="modal fade" id="popup2">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 2" src="{% static 'images/penandi500.webp' %}"></div>
    </div>
</div>
<div class="modal fade" id="popup3">
    <div class="modal-dialog">
        <div class="modal-content"><img alt="Image 3" src="{% static 'images/decor500.webp' %}"></div>
    </div>
</div>
<!--====== IMAGES WITH BUTTONS ENDS ======-->
