<!--====== 3 OPTION BOXES START ======-->

<section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
            <div class="card bg-white border border-success rounded text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="fa-solid fa-hourglass-half" style="color: #006400;"></i>
              </div>
              <h3 class="card-title mb-3">Hourly Rate</h3>
              <p>Contact me about maintenance work and/or quick projects.</p>
              <p class="text-center"  style="color: #006400;">
                &#163;28.00 per hour
              </p>
              <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-white border border-success rounded text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="fa-brands fa-creative-commons-nd" style="color: #006400;"></i>
              </div>
              <h3 class="card-title mb-3">Daily Rate</h3>
              <p>Contact me to check availability and book for a day or more.</p>
              <p class="text-center" style="color: #006400;">
                &#163;240.00 per day
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="card bg-white border border-success rounded text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="fa-solid fa-globe" style="color: #006400;"></i>
              </div>
              <h3 class="card-title mb-3">Website Creation</h3>
              <p>
                Looking for a new website or an upgrade? 
              </p>
              <a href="{% url 'contact' %}" aria-label="contact me" class="btn btn-success rounded-0 mt-2">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!--====== 3 OPTION BOXES END ======-->