asgiref==3.7.2
Brotli==1.1.0
cloudinary==1.37.0
dj-database-url==2.1.0
dj3-cloudinary-storage==0.0.6
Django==3.2.20
django-crispy-forms==1.14.0
django-summernote==0.8.20.0
gunicorn==21.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.7
pytz==2023.3.post1
sqlparse==0.4.4
urllib3==1.26.16
whitenoise==6.6.0
