asgiref==3.7.2
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
cleo==2.1.0
cloudinary==1.37.0
crashtest==0.4.1
dj-database-url==2.1.0
dj3-cloudinary-storage==0.0.6
Django==3.2.20
django-crispy-forms==1.14.0
django-summernote==0.8.20.0
dulwich==0.21.7
gunicorn==21.2.0
installer==0.7.0
msgpack==1.0.7
platformdirs==3.11.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
psycopg2==2.9.9
psycopg2-binary==2.9.7
pyproject_hooks==1.0.0
pytz==2023.3.post1
rapidfuzz==3.6.1
shellingham==1.5.4
sqlparse==0.4.4
trove-classifiers==2024.1.31
urllib3==1.26.16
whitenoise==6.6.0
