
/*===========================
General styles and blog
===========================*/

  .container {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 4fr;
      grid-template-areas:
        "header header"
        "section content";
  
  }


  
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr; /* Change to a single column for screens with a width of 600 pixels or less */
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        "section";
    }
  }

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


/*===========================
INDEX PAGE 
===========================*/

.single_portfolio {
    position: relative;
    width: 25%;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_portfolio {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .single_portfolio {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single_portfolio {
      width: 50%;
    }
  }
  
  .single_portfolio img {
    width: 100%;
  }
  
  .single_portfolio::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 141, 141, 0.9);
    opacity: 0;
    transition: all 0.3s ease-out 0s;
  }
  
  .single_portfolio .portfolio_content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .single_portfolio .portfolio_content .meta li {
    display: inline-block;
    margin: 0 5px;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
  }
  
  .single_portfolio .portfolio_content .meta li a {
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
  }
  
  .single_portfolio .portfolio_content .meta li a:hover {
    background-color: #fff;
    color: #EFEFEF;
  }
  
  .single_portfolio .portfolio_content .meta li:first-child {
    transform: translateX(-100%);
  }
  
  .single_portfolio .portfolio_content .meta li:last-child {
    transform: translateX(100%);
  }
  
  .single_portfolio .portfolio_content .portfolio_title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
    transform: translateY(100%);
    transition: all 0.3s ease-out 0s;
    opacity: 0;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single_portfolio .portfolio_content .portfolio_title {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .single_portfolio .portfolio_content .portfolio_title {
      font-size: 20px;
    }
  }
  
  .single_portfolio:hover::before {
    opacity: 1;
  }
  
  .single_portfolio:hover .portfolio_content .meta li {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
  }
  
  .single_portfolio:hover .portfolio_content .portfolio_title {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
  }
