/*.......................................... General Styles */


html {
  scroll-behavior: smooth;
}


body {
  color: #545454;
  background-color: #fff;
  font-family: "Open sans", sans-serif;
  line-height: 1.6;

}

p {
    line-height: 1.6;
    font-size: 20px;
    color:  #545454
    
}

a {
    color: #006400;
}



/*.......................................... Image & Text Logo */

.logo-img {
    max-width: 15vw; 
    display: block;
    width: 100%;
}

.logo-font {
    text-transform: uppercase;
    font-size: 22px;
}

.main-logo-link {
    width: fit-content;
}


/*.......................................... Navigation bar */

.nav-link-custom:hover,
.nav-link-custom.active {
    background: #006400;
    color: white;
}


/*.......................................... Top slider */

.slider {
    padding: 2%;
    
}



/*.......................................... Homepage portfolio */

.gallery-images {
	padding: 3%;
}
.gallery-item {
	position: relative;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
/* overlay */

.gallery-item img {
	width: 100%;
}
.gallery-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 100, 0, 0.9);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.gallery-item:hover .overlay {
	opacity: 1;
}
.gallery-item .overlay h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.gallery-item .overlay p {
	font-size: 16px;
	margin-bottom: 20px;
}
.gallery-item .overlay .btn {
	font-size: 16px;
}
.modal {
	background: rgba(0, 100, 0, 0.3);
}
@media (max-width: 991px) {
	.gallery-item {
		margin-bottom: 30px;
	}
}


/*.......................................... Button Styles */

.btn-black {
  background: #006400;
  color: white;
}

.btn-outline-black {
  background: white;
  color: #006400 !important; 
  border: 1px solid #006400;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: #006400;
  color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #006400;
  color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*.......................................... Search bar Styles */

input[name='q']::placeholder {
    color: #aab7c4;
}

/*.......................................... Styles for BLOG page */

.red-o {
    color: #006400;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #Fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}



.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #006400;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #006400;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #006400;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #006400;
}

.post-link:hover,
.page-link {
    color: #000;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #006400;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}



