{% load static %}

<!DOCTYPE html>


<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Digital Commerce Developer. Get help with your Shopify or eCommerce Store, eLearning Platform, WordPress or Django site.">
    <meta name="keywords" content="Diane Corriette, digital commerce, web developer, uk web developer, front-end developer, ecommerce web developer, Corriette, todianedev">
    <!-- Open Graph Meta Tags to ensure the site displays well on social media -->
    <meta property="og:title" content="Diane Corriette @todianedev">
    <meta property="og:description" content="Digital Commerce Developer. Get help with your Shopify or eCommerce Store, eLearning Platform, WordPress or Django site.">
    <meta property="og:image" content="https://blog-fsf-1e72c6955bdf.herokuapp.com/">
    <meta property="og:url" content="https://blog-fsf-1e72c6955bdf.herokuapp.com/">
    {% endblock %}


{% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    {% endblock %}

{% block extra_css %}
{% endblock %}



{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="192x192"
href="{% static 'images/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="310x310"
href="{% static 'images/ms-icon-310x310.png' %}">
<link rel="apple-touch-icon"
sizes="180x180"
href="{% static 'images/apple-icon.png' %}">
<link rel="icon"
type="image/png"
sizes="32x32"
href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon"
type="image/png"
sizes="16x16"
href="{% static 'images/favicon-16x16.png' %}">
{% endblock %}

<title>Digital Commerce Developer {% block extra_title %}{% endblock %}</title>
</head> 
<body>
    <header class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-light bg-white">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/diane-corriette-digital-commerce-developer.png' %}" alt="Image of Diane Corriette logo" class="logo-img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 logo-font">
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link nav-link-custom" href="#">Contact</a>
                        </li> -->
                    </ul>
                    <div class="col-6 col-lg-4 my-auto py-1 py-lg-0">
                        <form method="GET" action="#">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search my site">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </nav>
        
    </header>
    <div class="container">
        <hr class="border border-secondary-emphasis border-2 opacity-75">
    </div>
    {% block page_header %}
    {% endblock %}

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
   

    <!-- Footer -->
    <hr>
    <footer class="footer mt-auto mt-5 py-3 light-bg">
        <p class="m-0 text-center text-black">Diane Corriette 
            <a href="https://www.github.com/todiane" target="_blank" rel="noopener noreferrer nofollow"
            class="btn btn-outline-black btn-floating m-1 text-white" role="button" aria-label="Github link">
            <i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/todianedev" target="_blank" rel="noopener noreferrer nofollow"
            class="btn btn-outline-black btn-floating m-1 text-white" role="button" aria-label="Linkedin link">
            <i class="fab fa-linkedin"></i></a>
        </p>
    </footer>

    {% block corejs %}
    <script src="https://kit.fontawesome.com/cd7af72a7a.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    {% endblock %}


</body>
</html>